[Unit]
Description=GetSafe Node
After=network-online.target

[Service]
User=currentuser
Group=currentusergroup
Restart=on-failure
WorkingDirectory=/path/to/getsafe/
ExecStart=/usr/bin/node /path/to/getsafe/getsafe.js

[Install]
WantedBy=multi-user.target
